<div>
  <ng-container *ngIf='course!=null'>
    <p>Title:</p>
    <input class='max-width' [(ngModel)]='course.name'>
    <p></p>

    <p>Description:</p>
    <textarea class='max-width' [(ngModel)]='course.description'></textarea>
    <p></p>

    <p>Date:</p>
    <input class='max-width' [(ngModel)]='course.creationTime'>
    <p></p>

    <p>Duration:</p>
    <table>
      <tr>
        <th>
          <input class='max-width200' [(ngModel)]='course.durationTime'>
        </th>
        <th>
          <div>{{course.durationTime| duration}}</div>
        </th>
      </tr>
    </table>
    <p></p>

    <p>Authors:</p>
    <input class='max-width'>

    <button type="button" item-width="100" class="btn btn-success btn-block" (click)="save()">Save</button>
  </ng-container>
  <button type="button" item-width="100" class="btn delete-button btn-danger btn-block" (click)="cancel()">Cancel</button>
</div>