<div class="alert alert-primary container courseItem" 
appCourseBorder [date]='course.creationTime' [ngClass]="{'top-Rated':course.isTopRated}">
  <div class="row" >
    <div class="col-10">
      <div class="row">
        <div class="col">          
          {{course.name | uppercase}}
          <div *ngIf='course.isTopRated === true'>
              <img width="50" alt="Angular Logo" src="/assets/images/Star.jpg"/>
          </div>
        </div>
        <div class="col">
          {{course.durationTime | duration}}
        </div>
        <div class="col-5">
          {{course.creationTime | date: 'dd.MMM.yyyy'}}
        </div>
      </div>
      <div>
        {{course.description}}
      </div>
    </div>
    <div class="col-2">
      <button type="button" item-width="100" class="btn btn-success btn-block" (click)="Edit()">Edit</button>
      <button type="button" item-width="100" class="btn delete-button btn-danger btn-block" (click)="Delete()">Delete</button>
    </div>
  </div>
</div>